<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084362060261-7vdgsm0t9irg3nce9vhnjcja05as50v3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084362060261-7vdgsm0t9irg3nce9vhnjcja05as50v3</string>
	<key>API_KEY</key>
	<string>AIzaSyAURu5wPy_HltDbikX1Ld8weHkMlNWjxMI</string>
	<key>GCM_SENDER_ID</key>
	<string>1084362060261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookoo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bookoo-syncs</string>
	<key>STORAGE_BUCKET</key>
	<string>bookoo-syncs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084362060261:ios:e4f8acea37110af8263f0c</string>
</dict>
</plist>